
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&family=Zen+Dots&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
.App {
  text-align: center;
  
}

.App-header {
  font-size: 10vh;
  font-family: 'Dancing Script', cursive;
  /* font-family: 'Nunito', sans-serif; */
}

.App-subheader {
  font-family: 'Zen Dots', cursive;
  font-size: 4vh;
}

input{
  text-align: center;
}

.todoList{
  width: 90vw;
  max-width: 500px;
  margin-top: 24px;
  background-color:whitesmoke;
 
}
